// Abstracts
@import "../../assets/sass/abstracts/functions";
@import "../../assets/sass/abstracts/variables";
@import "../../assets/sass/abstracts/mixins";

.leaflet-container {
  width: 100%;
  height: calc(100vh - 40vh);
  z-index: 0;
}
