// COLOR
@each $name, $value in $colors {
  .is-text-#{$name} {
    color: $value;
  }
}

// TEXT ALIGNMENT
.is-text-center {
  text-align: center;
}

// HIDE
.d-none {
  display: none;
}

// SHOW
.d-block {
  display: block;
}

// LAYOUT
.container {
  max-width: 950px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;

  @include respond(tab-port) {
    max-width: 500px;
  }

  @include respond(phone) {
    max-width: 86%;
  }
}
