// Abstracts
@import "../../../assets/sass/abstracts/variables";
@import "../../../assets/sass/abstracts/functions";
@import "../../../assets/sass/abstracts/mixins";

.search-result-box-item {
  @include respond(tab-port) {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__heading {
    color: getColor("secondary-color");
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 2px;
    margin-bottom: 0.6rem;
  }

  &__content {
    font-weight: 700;
    font-size: 1.7rem;
    color: getColor("primary-color");
  }

  @include respond(tab-port) {
    text-align: center;

    &__loader {
      display: flex;
      justify-content: center;
    }
  }
}
