// Abstracts
@import "../../../assets/sass/abstracts/variables";
@import "../../../assets/sass/abstracts/functions";
@import "../../../assets/sass/abstracts/mixins";

.search-form {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;

  &__group {
    @include flex-box();
  }

  &__control {
    width: 100%;
    height: 46px;
    border-radius: 8px 0px 0px 8px;
    display: block;
    border: none;
    font-size: 1.5rem;
    padding: 1.2rem 2.2rem;
    color: rgba(getColor("dark"), 0.8);

    &::placeholder {
      color: rgba(getColor("dark"), 0.8);
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}
